W0204_WCF_Scurity_BaseHttp/MyWCFService.Client_ByAuto/Service References/ServiceReference1/MyWCFService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MyWCFService.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyWCFService.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DivResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="DivData" type="xs:int" />
      <xs:element minOccurs="0" name="ModData" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DivResult" nillable="true" type="tns:DivResult" />
</xs:schema>