W0242_WCF_Trans_EF_Ora/MyWcfServiceClient/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestInsertData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="main_id" type="xs:int" />
        <xs:element minOccurs="0" name="main_val" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sub_id" type="xs:int" />
        <xs:element minOccurs="0" name="sub_value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestInsertDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestInsertDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestDeleteData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="main_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestDeleteDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestDeleteDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestInsertMain">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="val" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestInsertMainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestInsertMainResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestInsertSub">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="main_id" type="xs:int" />
        <xs:element minOccurs="0" name="val" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestInsertSubResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestInsertSubResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestInsertAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="main_id" type="xs:int" />
        <xs:element minOccurs="0" name="main_val" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sub_id" type="xs:int" />
        <xs:element minOccurs="0" name="sub_value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestInsertAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestInsertAllResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>